{% extends 'flatpages/baseheader.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/create_to.css' %}">
<div class="create-form-container">
    <div class="back-cont">
        <button onclick="goBack()" class="back-button">Назад</button>
        </div>
    <h2>Добавить Ведуший мост</h2>
    <form method="post" class="create-form">
        {% csrf_token %}
        {% for field in form %}
        <div class="row">
            <div class="label">{{ field.label_tag }}</div>
            <div class="value">{{ field }}</div>
        </div>
        {% endfor %}
        <button type="submit" class="submit-button">Добавить</button>
    </form>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
{% include 'flatpages/footer.html' %}
{% endblock %}
