{% extends 'flatpages/baseheader.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <div class="backbody">
        <div class="machinemodel-details">
            <div class="back-cont">
                <button onclick="goBack()" class="back-button">Назад</button>
                </div>
            <h1 class="back_text">Детали модели ведущего моста</h1>
            <div class="details-table">
                <div class="row">
                    <div class="label">Название модели:</div>
                    <div class="value">{{ driveaxlemodel.name }}</div>
                </div>
                <div class="row">
                    <div class="label">Описание:</div>
                    <div class="value">{{ driveaxlemodel.description }}</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
