<!-- index.html -->

{% extends 'flatpages/baseheader.html' %}
{% load static %}
{% block content %}
    <!-- Подключаем файл стилей -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    
    <div class="comp">
        <h2 class="Text-comp">Проверьте комплектацию и технические характеристики техники <br/> "Силант"</h2>
    </div>
    {% if user.is_authenticated %}
    <div class="user-info">
        {% if user.is_authenticated %}
            {% if user.groups.all %}
                {% for group in user.groups.all %}
                    {% if group.name == "Manager" %}
                        <p>Менеджер: {{ user.username }}</p>
                    {% elif group.name == "Service" %}
                        <p>Сервис: {{ user.servicedepartment.name }}</p>
                    {% elif group.name == "Client" %}
                        <p>Клиент: {{ user.client.name }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    {% endif %}
    {% if user.is_authenticated %}
    <div class="navigation-links">
        <a href="{% url 'machine-list' %}">
            <img src="{% static 'images/machine.jpg' %}" alt="Машины">
            <p>Машины</p>
        </a>
        <a href="{% url 'maintenance-list' %}">
            <img src="{% static 'images/to.jpg' %}" alt="ТО">
            <p>ТО</p>
        </a>
        <a href="{% url 'reclamation-list' %}">
            <img src="{% static 'images/rec.jpg' %}" alt="Рекламации">
            <p>Рекламации</p>
        </a>
        {% if 'Manager' in user.groups.all|join:", " %}
        <a href="{% url 'reference-list' %}">
            <img src="{% static 'images/sprav.jpg' %}" alt="Справочник">
            <p>Справочник</p>
        </a>
        {% endif %}
    </div>
    {% endif %}
    <div class="add-machine-container">
        {% if user.is_authenticated %}
            {% if 'Manager' in user.groups.all|join:", " %}
                <a href="{% url 'machine-create' %}" class="add-machine-button">Добавить Машину</a>
            {% endif %}
        {% endif %}
    </div>
    <!-- Форма поиска по номеру машины -->
    {% if not user.is_authenticated %}
    <div class="search-container">
        <form action="" method="GET">
            <label for="serial-number">Заводской номер:</label>
            <input type="text" id="serial-number" name="serial-number">
            <input type="submit" value="Поиск">
        </form>
    </div>
{% endif %}
    {% if user.is_authenticated %}
    <div class="search-container-max">
        <form action="" method="GET" class="search-form-max">
            <div class="search-item-row">
                <div class="search-item-max">
                    <label for="model">Модель техники:</label>
                    <select name="model" id="model">
                        <option value="">Модель</option>
                        {% for machine_model in machine_models %}
                            <option value="{{ machine_model.id }}">{{ machine_model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="search-item-max">
                    <label for="engine">Модель двигателя:</label>
                    <select name="engine" id="engine">
                        <option value="">Двигатель</option>
                        {% for engine_model in engine_models %}
                            <option value="{{ engine_model.id }}">{{ engine_model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="search-item-max">
                    <label for="transmission">Модель трансмиссии:</label>
                    <select name="transmission" id="transmission">
                        <option value="">Трансмиссия</option>
                        {% for transmission_model in transmission_models %}
                            <option value="{{ transmission_model.id }}">{{ transmission_model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="search-item-max">
                    <label for="drive_axle">Модель ведущего моста:</label>
                    <select name="drive_axle" id="drive_axle">
                        <option value="">Ведущий мост</option>
                        {% for drive_axle_model in drive_axle_models %}
                            <option value="{{ drive_axle_model.id }}">{{ drive_axle_model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="search-item-max">
                    <label for="steer_axle">Модель управляемого моста:</label>
                    <select name="steer_axle" id="steer_axle">
                        <option value="">Управляемый мост</option>
                        {% for steer_axle_model in steer_axle_models %}
                            <option value="{{ steer_axle_model.id }}">{{ steer_axle_model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>    
            <div class="search-item-single">
                <label for="serial-number">Заводской номер:</label>
                <input type="text" id="serial-number" name="serial-number">
            </div>
            <div class="search-item-max search-item-button">
                <input type="submit" value="Поиск">
            </div>
        </form>
    </div>
    {% endif %}
    <div class="comp">
        <h2 class="Text-comp">Информация о комплектации и технических <br/> характеристиках</h2>
    </div>
    <div id="search-results">
        {% if search_header %}
            <h3 class="search-header">{{ search_header }}</h3>
        {% endif %}
        {% if search_message %}
            <p class="search-message">{{ search_message }}</p>
        {% endif %}
        <div class="table-container">
        <table border="1" id="search-table">
            <thead>
                <tr>
                    <th>Зав. № машины</th>
                    <th>Модель техники</th>
                    <th>Модель двигателя</th>
                    <th>Зав. № двигателя</th>
                    <th>Модель трансмиссии</th>
                    <th>Зав. № трансмиссии</th>
                    <th>Модель ведущего моста</th>
                    <th>Зав. № ведущего моста</th>
                    <th>Модель управляемого моста</th>
                    <th>Зав. № управляемого моста</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in machines %}
                    <tr>
                        {% if user.is_authenticated %}
                                <td><a href="{% url 'machine-detail' pk=machine.pk %}">{{ machine.serial_number }}</a></td>
                                <td><a href="{% url 'model-detail' pk=machine.model.pk %}">{{ machine.model.name }}</a></td>
                                <td><a href="{% url 'engine-detail' pk=machine.engine_model.pk %}">{{ machine.engine_model.name }}</a></td>
                                <td>{{ machine.engine_serial_number }}</td>
                                <td><a href="{% url 'transmission' pk=machine.transmission_model.pk %}">{{ machine.transmission_model.name }}</a></td>
                                <td>{{ machine.transmission_serial_number }}</td>
                                <td><a href="{% url 'drive-axle' pk=machine.drive_axle_model.pk %}">{{ machine.drive_axle_model.name }}</a></td>
                                <td>{{ machine.drive_axle_serial_number }}</td>
                                <td><a href="{% url 'steer-axle' pk=machine.steer_axle_model.pk %}">{{ machine.steer_axle_model.name }}</a></td>
                                <td>{{ machine.steer_axle_serial_number }}</td>
                            {% else %}
                                <td>{{ machine.serial_number }}</td>
                                <td>{{ machine.model.name }}</td>
                                <td>{{ machine.engine_model.name }}</td>
                                <td>{{ machine.engine_serial_number }}</td>
                                <td>{{ machine.transmission_model.name }}</td>
                                <td>{{ machine.transmission_serial_number }}</td>
                                <td>{{ machine.drive_axle_model.name }}</td>
                                <td>{{ machine.drive_axle_serial_number }}</td>
                                <td>{{ machine.steer_axle_model.name }}</td>
                                <td>{{ machine.steer_axle_serial_number }}</td>
                            {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}