{% extends 'flatpages/baseheader.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/machine_detail.css' %}">
    <title>Детальная информация о техническом обслуживании</title>
    <div class="Backbody">
        <div class="machine-details">
            <div class="back-cont">
                <button onclick="goBack()" class="back-button">Назад</button>
                </div>
            <h1 class="back_text">Детальная информация о ТО<br/> Машины с № {{ maintenance.machine }}</h1>
            {% if user.is_authenticated %}
        {% if 'Manager' in user.groups.all|join:", " or 'Client' in user.groups.all|join:", " or 'Service' in user.groups.all|join:", " %}
            <div class="machine-button">
                <a href="{% url 'maintenance-edit' maintenance.pk %}" class="edit-button">Редактировать</a>
                <a href="{% url 'maintenance-delete' maintenance.pk %}" class="delete-button">Удалить</a>
            </div>
            {% endif %}
            {% endif %}
            <div class="details-table">
                <div class="row">
                    <div class="label">Машина:</div>
                    <div class="value">{{ maintenance.machine }}</div>
                </div>
                <div class="row">
                    <div class="label">Вид ТО:</div>
                    <div class="value">{{ maintenance.maintenance_type }}</div>
                </div>
                <div class="row">
                    <div class="label">Дата проведения ТО:</div>
                    <div class="value">{{ maintenance.maintenance_date }}</div>
                </div>
                <div class="row">
                    <div class="label">Наработка, м/час:</div>
                    <div class="value">{{ maintenance.operating_time }}</div>
                </div>
                <div class="row">
                    <div class="label">Номер заказ-наряда:</div>
                    <div class="value">{{ maintenance.order_number }}</div>
                </div>
                <div class="row">
                    <div class="label">Дата заказ-наряда:</div>
                    <div class="value">{{ maintenance.order_date }}</div>
                </div>
                <div class="row">
                    <div class="label">Организация, проводившая ТО:</div>
                    <div class="value">{{ maintenance.maintenance_service }}</div>
                </div>
                <div class="row">
                    <div class="label">Сервисная компания:</div>
                    <div class="value">{{ maintenance.service_department }}</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
{% endblock %}
