{% extends 'flatpages/baseheader.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
    <div class="backbody">
        <div class="machinemodel-details">
            <h1 class="back_text">Детали вида ТО</h1>
            <div class="details-table">
                <div class="row">
                    <div class="label">Название ТО :</div>
                    <div class="value">{{  maintenancetype.name }}</div>
                </div>
                <div class="row">
                    <div class="label">Описание:</div>
                    <div class="value">{{ maintenancetype.description }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}