{% extends 'flatpages/baseheader.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/machine_detail.css' %}">
    <title>Детальная информация о Рекламации</title>
    <div class="Backbody">
        <div class="machine-details">
            <div class="back-cont">
                <button onclick="goBack()" class="back-button">Назад</button>
                </div>
            <h1 class="back_text">Детальная информация о Рекламации<br/>Машины с № {{ reclamation.machine }}</h1>
            {% if user.is_authenticated %}
        {% if 'Manager' in user.groups.all|join:", " or 'Service' in user.groups.all|join:", " %}
            <div class="machine-button">
                <a href="{% url 'reclamation-edit' reclamation.pk %}" class="edit-button">Редактировать</a>
                <a href="{% url 'reclamation-delete' reclamation.pk %}" class="delete-button">Удалить</a>
            </div>
            {% endif %}
            {% endif %}
            <div class="details-table">
                <div class="row">
                    <div class="label">Машина:</div>
                    <div class="value">{{ reclamation.machine }}</div>
                </div>
                <div class="row">
                    <div class="label">Дата отказа:</div>
                    <div class="value">{{ reclamation.failure_date }}</div>
                </div>
                <div class="row">
                    <div class="label">Наработка м/час:</div>
                    <div class="value">{{ reclamation.operating_time }}</div>
                </div>
                <div class="row">
                    <div class="label">Узел отказа:</div>
                    <div class="value">{{ reclamation.failure_unit  }}</div>
                </div>
                <div class="row">
                    <div class="label">Описание отказа :</div>
                    <div class="value">{{ reclamation.failure_description }}</div>
                </div>
                <div class="row">
                    <div class="label">Способ восстановления:</div>
                    <div class="value">{{ reclamation.repair_procedure }}</div>
                </div>
                <div class="row">
                    <div class="label">Используемые запчасти:</div>
                    <div class="value">{{ reclamation.spare_parts }}</div>
                </div>
                <div class="row">
                    <div class="label">Дата восстановления:</div>
                    <div class="value">{{ reclamation.repair_date }}</div>
                </div>
                <div class="row">
                    <div class="label">Время простоя техники:</div>
                    <div class="value">{{ reclamation.nonuse_time }}</div>
                </div>
                <div class="row">
                    <div class="label">Сервисная компания:</div>
                    <div class="value">{{ reclamation.service_department }}</div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
    {% include 'flatpages/footer.html' %}
{% endblock %}
