<!-- reclamation_list.html -->

{% extends 'flatpages/baseheader.html' %}
{% load static %}
{% block content %}
    <!-- Подключаем файл стилей -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <div class="comp">
        <h2 class="Text-comp">Проверьте ремонтное обслуживание техники <br/> "Силант"</h2>
    </div>

    <div class="user-info">
        {% if user.is_authenticated %}
            {% if user.groups.all %}
                {% for group in user.groups.all %}
                    {% if group.name == "Manager" %}
                        <p>Менеджер: {{ user.username }}</p>
                    {% elif group.name == "Service" %}
                        <p>Сервис: {{ user.servicedepartment.name }}</p>
                    {% elif group.name == "Client" %}
                        <p>Клиент: {{ user.client.name }}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="navigation-links">
        <a href="{% url 'machine-list' %}">
            <img src="{% static 'images/machine.jpg' %}" alt="Машины">
            <p>Машины</p>
        </a>
        <a href="{% url 'maintenance-list' %}">
            <img src="{% static 'images/to.jpg' %}" alt="ТО">
            <p>ТО</p>
        </a>
        <a href="{% url 'reclamation-list' %}">
            <img src="{% static 'images/rec.jpg' %}" alt="Рекламации">
            <p>Рекламации</p>
        </a>
        {% if 'Manager' in user.groups.all|join:", " %}
        <a href="{% url 'reference-list' %}">
            <img src="{% static 'images/sprav.jpg' %}" alt="Справочник">
            <p>Справочник</p>
        </a>
        {% endif %}
    </div>
    {% endif %}
    <div class="add-machine-container">
        {% if user.is_authenticated %}
            {% if 'Manager' in user.groups.all|join:", " or 'Service' in user.groups.all|join:", " %}
                <a href="{% url 'reclamation-create' %}" class="add-machine-button">Добавить Рекламацию</a>
            {% endif %}
        {% endif %}
    </div>
    {% if user.is_authenticated %}
    <div class="search-container-max">
        <form action="" method="GET" class="search-form-max">
            <div class="search-item-row">
                <div class="search-item-max">
                    <label for="failure-unit">Узел отказа:</label>
                    <select name="failure-unit" id="failure-unit">
                        <option value="">Выберите узел отказа</option>
                        {% for failure_unit in failure_units %}
                            <option value="{{ failure_unit.id }}">{{ failure_unit.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="search-item-max">
                    <label for="repair-procedure">Способ восстановления:</label>
                    <select name="repair-procedure" id="repair-procedure">
                        <option value="">Выберите способ восстановления</option>
                        {% for repair_procedure in repair_procedures %}
                            <option value="{{ repair_procedure.id }}">{{ repair_procedure.name }}</option>
                        {% endfor %}
                    </select>
                </div>
    
                <div class="search-item-max">
                    <label for="service-department">Сервисная компания:</label>
                    <select name="service-department" id="service-department">
                        <option value="">Выберите сервисную компанию</option>
                        {% for service_department in service_departments %}
                            <option value="{{ service_department.id }}">{{ service_department.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
    
                <div class="search-item-single">
                    <label for="serial-number">Заводской номер:</label>
                    <input type="text" id="serial-number" name="serial-number">
                </div>
                <div class="search-item-max search-item-button">
                    <input type="submit" value="Поиск">
                </div>
            </form>
        </div>
        {% endif %}
    
    <div class="comp">
        <h2 class="Text-comp">Список рекламаций</h2>
    </div>
    <div id="search-results">
        {% if search_header %}
            <h3 class="search-header">{{ search_header }}</h3>
        {% endif %}
        {% if search_message %}
            <p class="search-message">{{ search_message }}</p>
        {% endif %}
        <div class="table-container">
        <table border="1" id="reclamation-table">
            <thead>
                <tr>
                    <th>Инфо</th>
                    <th>Машина</th>
                    <th>Дата отказа</th>
                    <th>Наработка, м/час</th>
                    <th>Узел отказа</th>
                    <th>Описание отказа</th>
                    <th>Способ восстановления</th>
                    <th>Используемые запасные части</th>
                    <th>Дата восстановления</th>
                    <th>Время простоя техники</th>
                    <th>Сервисная компания</th>
                </tr>
            </thead>
            <tbody>
                {% for reclamation in reclamations %}
                    <tr>
                        <td><a href="{% url 'reclamation-detail' pk=reclamation.pk %}">Инфо</a></td>
                        <td><a href="{% url 'machine-detail' pk=reclamation.machine.pk %}">{{ reclamation.machine.serial_number }}</a></td>
                        <td>{{ reclamation.failure_date }}</td>
                        <td>{{ reclamation.operating_time }}</td>
                        <td><a href="{% url 'failureunit' pk=reclamation.failure_unit.pk %}">{{ reclamation.failure_unit }}</a></td>
                        <td>{{ reclamation.failure_description }}</td>
                        <td><a href="{% url 'repairprocedure' pk=reclamation.repair_procedure.pk %}">{{ reclamation.repair_procedure }}</a></td>
                        <td>{{ reclamation.spare_parts }}</td>
                        <td>{{ reclamation.repair_date }}</td>
                        <td>{{ reclamation.nonuse_time }} дня/дней</td>
                        <td><a href="{% url 'service-dep' pk=reclamation.service_department.pk %}">{{ reclamation.service_department }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
