@font-face {
    font-family: Astra-bold;
    src: url(../font/PT-Astra-Sans_Bold.ttf);
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EBE6D6;
}

.create-form-container {
    max-width: 90%;
    margin-left: 40px;
}

.narrow-input {
    max-width: 80%;
}

.create-form-container h2 {
    font-family: Astra-bold;
    text-align: center;
}

.create-form {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #163E6C;
    padding: 20px;
    border-radius: 10px;
    border-collapse: collapse;
}

.create-form .row {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.create-form .label {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff;
    font-family: Astra-bold;
    font-weight: bold;
}

.create-form .value {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff;
    font-family: Astra-italic;
}

.create-form .submit-button {
    display: block;
    width: 100px;
    margin-left: 50%;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-form .submit-button:hover {
    background-color: #45a049;
}

.back-cont {
    font-size: 20px;
}

.back-button {
    margin-top: 20px;
    font-family: Astra-bold;
    background-color: #163E6C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.back-button:hover {
    font-family: Astra-bold;
    background-color: rgb(150, 168, 215);
}

@media only screen and (max-width: 600px) {
    .back-cont {
        font-size: 20px;
        text-align: center;
        margin-left: 45px;
    }

    .create-form .row {
        grid-template-columns: auto;
    }

    .create-form {
        grid-template-columns: auto;
        margin-right: 0px;
    }

    .create-form .label, .create-form .value {
        width: 97%; 
    }    

    .create-form-container {
        margin: 0;
    }

    .create-form-container h2 {
        margin-left: 30px;
    }
    .create-form .submit-button {
        text-align: center;
        margin-left: 40%;
        
    }
}
