@font-face {
    font-family: Astra-italic ;
    src: url(../font/PT-Astra-Sans_Italic.ttf);
}

@font-face {
    font-family: Astra-bold;
    src: url(../font/PT-Astra-Sans_Bold.ttf);
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EBE6D6;
}

.back_text {
    font-family: Astra-bold;
    text-align: center;
}

.machine-details {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.details-table {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    background-color: #163E6C;
    padding: 20px;
    border-radius: 10px;
    border-collapse: collapse;
}

.row {
    display: grid;
    grid-template-columns: 150px auto;
    grid-gap: 10px;
}

.label, .value {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #ffffff;
}

.label {
    font-family: Astra-bold;
    font-weight: bold;
}

.value {
    font-family: Astra-italic;
}

.machine-button {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-button, .delete-button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    background-color: #163E6C;
    border: none;
    border-radius: 5px;
    font-family: Astra-bold;
    font-size: 16px;
}

.edit-button:hover, .delete-button:hover {
    background-color: #45a049;
}

.delete-button {
    background-color: #B8060D;
}

.delete-button:hover {
    background-color: #D20A11;
}

.delete-button:hover {
    background-color: #D20A11;
}

.back-cont {
    margin-left: 20px;
    font-size: 20px;
}

.back-button {
    margin-top: 20px;
    font-family: Astra-bold;
    background-color: #163E6C;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.back-button:hover {
    font-family: Astra-bold;
    background-color: rgb(150, 168, 215);
}

.style-button {
    margin-top: 5%;
}

.add-button {
    text-align: center;
    margin-bottom: 20px;
}

.add-machine-button {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #45a049;
    color: white;
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 180px;
    margin-left: 180px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-family: Astra-bold;
    font-size: 16px;
}
.no_info{
    text-align: center;
    font-size: 40px;
    font-family: Astra-bold;
    color: white;
    margin-left: 20%;
}

@media only screen and (max-width: 600px) {
    .details-table {
        grid-template-columns: auto;
    }
    
    .row {
        grid-template-columns: auto;
    }

    .label, .value {
        width: auto;
    }

    .machine-details {
        margin-left: 0;
    }

    .back_text {
        margin-right: 0px;
    }

    .back-cont {
        text-align: center;
        font-size: 20px;
    }

    .machine-button {
        text-align: center;
        margin-left: 40px;
    }

    .add-machine-button {
        align-items: center;
        text-align: center;
        margin: 0px;
        width: 88%;
    }
    .no_info{
        margin: 0;
        font-size: 20px;
    }
}
