@font-face {
    font-family: Astra;
    src: url(../font/PT-Astra-Sans_Regular.ttf);
}

header {
    font-family: Astra;
    background-color: #163E6C;
    height: 100px;
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative; 
}

.logo img {
    height: 80px;
}

.contact-info p {
    margin-top: 0px;
    text-align: center;
}

.login-button a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.login-button a:hover {
    background-color: #fff;
    color: #333;
}

.logout-button a {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.logout-button a:hover {
    background-color: #D20A11;
    color: #333;
}

.text-service {
    font-size: 30px;
    text-align: center;
    margin-top: 60px;
    position: absolute;
    margin-bottom: 0px; 
    left: 50%; 
    transform: translateX(-50%); 
}

@media only screen and (max-width: 768px) {
    .logo img {
        height: 70px;
    }
    .contact-info {
        font-size: 10px;
        margin-top: -40px;
    }
    .text-service {
        font-size: 23px;
        margin-top: 35px;
    }
    .login-button,
    .logout-button {
        margin-right: -15px;
    }
}

@media only screen and (max-width: 480px) {
    .logo img {
        margin-top: 20px;
        height: 50px;
    }
    .text-service {
        font-size: 20px;
        margin-top: 35px;
    }
    .login-button,
    .logout-button {
        margin-top: 20px;
        margin-right: -20px;
    }
}
