body{
     background-color: #EBE6D6;
     margin: 0;
}
@font-face {
    font-family: Astra-bold;
    src: url(../font/PT-Astra-Sans_Bold.ttf);
}
.login-container {
    font-family: Astra-bold;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-form {
    width: 300px;

    padding: 20px;

    border: 1px solid #ccc;

    border-radius: 5px;

    background-color: #f9f9f9;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}


.login-form button {
    width: 100%;

    padding: 10px;

    margin-top: 10px;

    background-color: #007bff;

    color: #fff;

    border: none;

    border-radius: 5px;

    cursor: pointer;

}

.login-form button:hover {
    background-color: #0056b3;

}


.error-message {
    color: #ff0000;

    font-size: 14px;

    margin-top: 5px;

}