/* styles.css */

/* Стили для контейнера формы */
.login-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Занимает 100% высоты видимой области */
}

/* Стили для формы входа */
.login-form {
    width: 300px; /* Ширина формы */
    padding: 20px; /* Отступы вокруг формы */
    border: 1px solid #ccc; /* Граница формы */
    border-radius: 5px; /* Скругленные углы формы */
    background-color: #f9f9f9; /* Цвет фона формы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень формы */
}

/* Стили для кнопки входа */
.login-form button {
    width: 100%; /* Ширина кнопки равна ширине формы */
    padding: 10px; /* Внутренние отступы кнопки */
    margin-top: 10px; /* Внешний отступ сверху */
    background-color: #007bff; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 5px; /* Скругляем углы кнопки */
    cursor: pointer; /* Задаем курсор указателю при наведении */
}

/* Стили для кнопки входа при наведении */
.login-form button:hover {
    background-color: #0056b3; /* Изменяем цвет фона кнопки при наведении */
}

/* Стили для сообщения об ошибке */
.error-message {
    color: #ff0000; /* Цвет текста красный */
    font-size: 14px; /* Размер шрифта */
    margin-top: 5px; /* Внешний отступ сверху */
}
