/* styles.css */

/* Оставляем стили без изменений */
@font-face {
    font-family: Astra-bold;
    src: url(../font/PT-Astra-Sans_Bold.ttf);
}
@font-face {
    font-family: Astra-ital;
    src: url(../font/PT-Astra-Sans_Italic.ttf);
}
body {
    background-color: #EBE6D6;
    width: 100%;
    margin: 0;
    padding: 0;
}
.style-content{
    border: 3px solid #163E6C;
    width: 97%;
    border-radius: 30px;
    margin-top: 30px;
    background-color: white;
    margin-left: 17px;
}
.table-container {
    margin-bottom: 40px;
    overflow-x: auto; 
    max-width: 100%; 
    padding: 20px; 
    box-sizing: border-box; 
    position: relative;
    border-radius: 15px;
}
.table-container::after {
    content: ''; 
    position: sticky; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    height: 10px; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #D20A11);
    z-index: 1;
}

table {
    border-radius: 7px;
    margin-left: 10px;
    max-width: 99%;
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
}
td img {
    height: 40px;
}

td img:hover{
    transform: scale(1.2); 
}

th, td {
    text-align: center;
    font-family: Astra-ital;
    padding: 8px;
    border-bottom: 3px solid #163E6C;
    border: 3px solid #163E6C;
    background-color: #EBE6D6;
}

/* Стили для заголовка таблицы */
th {
    font-family: Astra-bold;
    background-color: #163E6C;
    color: white;
    text-align: center;
}
th:hover {
    background-color: rgba(210, 10, 17, 0.5); 
    color: white; 
    cursor: pointer; 
}

.comp{
    font-family: Astra-bold;
    margin-top: 60px;
    text-align: center;
}
.Text-comp{
    font-size: 30px;
}

.search-header {
    font-family: Astra-bold;
    font-size: 24px;
    font-weight: bold;
}

/* Стили для сообщения результатов поиска */
.search-message {
    font-family: Astra-ital;
    text-align: center;
    font-size: 30px;
    color: #D20A11;
}

/* Стили для поискового блока */
.search-container {
    font-family: Astra-bold;
    margin-top: 0px;
    height: 60px;
    background-color: #D20A11;
    padding: 10px;
}

.search-container label {
    align-items: center;
    margin-top: 10px;
    color: #EBE6D6;
    text-align: center;
    font-size: 30px;
    display: inline-block; 
}

.search-container input[type=text] {
    font-family: Astra-bold;
    padding: 13px;
    margin-left: 10px;
    margin-top: 0px;
    border: none;
    border-radius: 5px;
}

.search-container input[type=submit] {
    margin-left: 30px;
    background-color: #163E6C;
    color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container input[type=submit]:hover {
    background-color: #B8060D;
}

/* styles.css */

.user-info {
    font-family: Astra-ital;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.user-info p {
    margin: 5px 0;
}

.navigation-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px; 
}


.navigation-links a {
    text-align: center;
    text-decoration: none;
    color: black; 
}

.navigation-links a img {
    width: 100px; 
    height: auto; 
}

.navigation-links a p {
    font-family: Astra-ital;
    margin-top: 5px; 
    font-size: 24px; 
}
.navigation-links a:hover img {
    transform: scale(1.2); 
}


.search-container-max {
    border-radius: 15px;
    margin-left: 50px;
    max-width: 90%;
    margin-top: 30px;
    padding: 20px;
    background-color:#EBE6D6;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #163E6C; 
}

.search-container-max .search-form-max {
    display: flex;
    flex-direction: column;
}

.search-container-max .search-item-row {
    display: flex;
    flex-wrap: wrap;
}

.search-container-max .search-item-max {
    display: flex;
    flex-direction: column;
    margin-right: 20px; 
    margin-bottom: 20px; 
}


.search-container-max label {
    font-family: Astra-bold;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


.search-container-max select {
    margin-top: 20px;
    width: 200px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.search-container-max option{
    font-family: Astra-ital;
}

/* Стили для поля ввода */
.search-container-max input[type="text"] {
    font-family: Astra-ital;
    width: 200px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Стили для кнопки "Поиск" */
.search-container-max input[type="submit"] {
    margin: 50px auto 0 auto; 
    padding: 10px 15px; 
    width: 150px; 
    max-width: 150px; 
    background-color:#163E6C; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.search-container-max input[type="submit"]:hover {
    background-color: #45a049; 
    padding: 10px 15px; 
}

.search-container-max .search-item-single {
    text-align: center;
    align-items: center;
    margin-top: 10px; 
}
.add-machine-container {
    text-align: center; 
    margin-top: 0px;
    margin-bottom: 100px; 
}

.add-machine-button {
    margin-top: 30px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #163E6C; 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.add-machine-button:hover {
    background-color: #45a049; 
}

.reference-container {
    margin-bottom: 30px;
    border-radius: 15px;
    margin-left: 50px;
    max-width: 90%;
    margin-top: 30px;
    padding: 20px;
    background-color: #EBE6D6;
    border: 2px solid #163E6C;
    overflow: hidden; 
}

.reference-header {
    font-family: Astra-bold;
    text-align: center;
    font-size: 34px;
    color: black;
}

.reference-list {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0; 
}

.reference-list li {
    margin-bottom: 10px;
}

.reference-link {
    font-family: Astra-ital;
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.reference-link:hover {
    color: #163E6C;
}


.reference-list {
    column-count: 2; 
    column-gap: 20px; 
}

.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination .page-item {
    display: inline-block;
    margin-right: 5px;
}

.pagination .page-link {
    color: #163E6C;
    background-color: #fff;
    border: 1px solid #dee2e6;
    padding: 6px 12px;
}

.pagination .page-link:hover {
    z-index: 2;
    color: #163E6C;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #163E6C;
    border-color: #163E6C;
}



@media only screen and (max-width: 768px) {

    .reference-container{
        width: 88%;
        margin: 0px;
    }
    .navigation-links {
        flex-direction: column; 
        align-items: center; 
        margin-top: 20px; 
    }

    .navigation-links a {
        margin-bottom: 10px; 
    }

    .navigation-links a p {
        margin-top: 5px; 
        font-size: 28px; 
    }

    .navigation-links a img {
        width: 100px; 
    }

    .search-container {
        margin-top: 0px; 
        text-align: center; 
        background-color: #D20A11; 
        padding-bottom: 70px; 
        border-radius: 10px; 
    
    }

    .search-container label {
        font-size: 16px; 
        margin-bottom: 5px; 
        display: block; 
    }

    .search-container input[type="text"],
    .search-container input[type="submit"] {
        width: 80%; 
        margin: 5px auto; 
        display: block; 
    }

    .search-container input[type="submit"] {
        margin-top: 10px; 
    }

    .search-container-max{
      
        margin: 0px;
    }
    table {
        margin-bottom: 20px;
        max-width: 100%;
        margin: 0px;
    }

   
    th, td {
        white-space: nowrap; 
    }
    .table-container{
        padding: 0px;
    }
    .reference-list {
        column-count: 1; 
        column-gap: 0; 
    }

    .style-content{
        width: 100%;
        border-radius: 0px;
        margin: 0;
        background-color: white;
        border: none;
    }
    body{
        background-color: white;
    }
}